# Byte-compiled / optimized / DLL files
__pycache__/
.gitignore

# build_index/
build_index/build_dense_index_after_train_iter.py
build_index/build_dense_index_after_train_iter.sh
build_index/build_dense_index.py
build_index/build_dense_index.sh
build_index/build_kshot.py
build_index/build_kshot.sh
build_index/build_nq_train.sh
build_index/build_pos_neg.py
build_index/build_pos_neg.sh
build_index/build.py
build_index/build.sh
build_index/readme.md

cache/
data/
draw/
results/
runs/
train/src/dir/checkpoint
train/src/train_reranker_no_greedy.sh
train/src/train_retriever_iter.py
train/src/train_retriever_iter.sh
train_supervised_models/
unused_code/

get_llm_difficulty_for_dbs.py
get_llm_difficulty_for_dbs.sh
llm_score_se2.py
llm_score_se2.sh
note.md
run_dbs.py
run_dbs.sh
run_kmeans.py
run_kshot_iter.py
run_kshot_iter.sh
run_kshot_llama3.sh
run_kshot_subset.sh
run_supervised_baselines.py
run_supervised_baselines.sh
test.py
trunc_query_and_docs.py

